<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_off/04_01.jpg" alt="" (click)="goNext()">
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/04_02.jpg" alt="">
      <div class="text_cover text_cover_burger text_cover_burger2">
        <ion-item>
          <ion-input placeholder="지번, 도로명, 건물명으로 검색해주세요."></ion-input>
          <ion-button (click)="goNext()">검색</ion-button>
        </ion-item>
      </div>
    </div>
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/04_03.jpg" alt="">
      <div class="text_cover text_cover_burger3">
        <p>{{add}}</p>
      </div>
    </div>
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/04_04.jpg" alt="">
      <div class="text_cover text_cover_burger text_cover_burger2">
        <ion-item>
          <ion-input #MAddDetail placeholder="동, 호수를 입력해주세요."></ion-input>
          <ion-button (click)="goNext()">확인</ion-button>
        </ion-item>
      </div>
    </div>
    <img src="../../../assets/image/mcdonald/guide_off/04_05.jpg" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/04_06.jpg" alt="">
      <div class="text_cover text_cover_burger3 text_cover_burger4">
        <p>{{add}}</p>
      </div>
    </div>
    <img src="../../../assets/image/mcdonald/guide_off/04_07.jpg" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/mcdonald/guide_off/01_menu_bar.png" alt="">
    </div>
  </div>
</ion-content>