<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_off/12_01_01.png" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/12_01_02.png" alt="">
      <div class="text_cover text_cover_burger5">
        <div class="burger_quantity">
          <ion-icon name="remove-outline"></ion-icon>
          <span>1</span>
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <ion-button>장바구니에 추가</ion-button>
      </div>
    </div>
    <img src="../../../assets/image/mcdonald/guide_off/12_01_03.png" alt="">
    <img src="../../../assets/image/mcdonald/guide_off/12_02.jpg" alt="" (click)="goNext()">
    <img src="../../../assets/image/mcdonald/guide_off/12_05.png" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/mcdonald/guide_off/10_03.jpg" alt="">
    </div>
  </div>
</ion-content>