<ion-content>
  <div class="container scroll">
    <img src="../../../assets/image/mcdonald/guide_off/08_01.png" alt="" (click)="goNext()">
    <img src="../../../assets/image/mcdonald/guide_off/08_02.png" alt="">
    <img src="../../../assets/image/mcdonald/guide_off/08_03.png" alt="" (click)="goNext()">
    <div class="fix_button">
      <!-- <img src="../../../assets/image/mcdonald/guide_off/08_04.png" alt=""> -->
      <img src="../../../assets/image/mcdonald/guide_off/08_menu_bar.png" alt="">
    </div>
  </div>
</ion-content>