<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_off/2_back.png" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/mcdonald/guide_off/2_01.png" alt="">
      <img src="../../../assets/image/mcdonald/guide_off/2_02.png" alt="" (click)="goBaemin()">
      <img src="../../../assets/image/mcdonald/guide_off/2_03.png" alt="" (click)="goNext(0)">
      <img src="../../../assets/image/mcdonald/guide_off/2_04.png" alt="" (click)="goCategory()">
    </div>
  </div>
</ion-content>