<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_on/30_back.png" alt="코레일">
    <div class="fix_button">
      <img src="../../../assets/image/korail/guide_on/30_01.png" alt="코레일">
      <img src="../../../assets/image/korail/guide_on/30_02.png" alt="코레일" (click)="goNext(28)">
      <img src="../../../assets/image/korail/guide_on/30_03.png" alt="코레일" (click)="goNext(0)">
      <img src="../../../assets/image/korail/guide_on/30_04.png" alt="코레일" (click)="goCategory()">
    </div>
  </div>
</ion-content>삭제