<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_on/1_back.png" alt="코레일">
    <div class="fix_button">
      <img src="../../../assets/image/korail/guide_on/1_01.png" alt="코레일">
      <img src="../../../assets/image/korail/guide_on/1_02.png" alt="코레일" (click)="goNext(20)">
      <img src="../../../assets/image/korail/guide_on/1_03.png" alt="코레일" (click)="goNext(0)">
      <img src="../../../assets/image/korail/guide_on/1_04.png" alt="코레일" (click)="goCategory()">
    </div>
  </div>
</ion-content>