<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/09_01.png" alt="코레일">
    <img src="../../../assets/image/korail/09_02.png" alt="코레일" (click)="goNext(1)">
    <img src="../../../assets/image/korail/09_03.png" alt="코레일" (click)="goAfter()">
    <img src="../../../assets/image/korail/09_04.png" alt="코레일">
    <img src="../../../assets/image/korail/09_05.png" alt="코레일" (click)="goNext()">
    <img src="../../../assets/image/korail/09_06.png" alt="코레일" (click)="goNext(20)">
    <img src="../../../assets/image/korail/09_07.png" alt="코레일" (click)="goNext(28)">
    <img src="../../../assets/image/korail/09_08.png" alt="코레일">
  </div>
</ion-content>