<ion-content>
  <div class="container">
    <div class="img_margin">
      <img src="../../../assets/image/baemin/guide_off/06_01.png">
      <div class="img_cover">
        <img src="../../../assets/image/baemin/guide_off/06_02.png">
        <ion-input #add class="search_input3" (click)="openDaumPopup()"></ion-input>
      </div>
      <div #daum_popup class="address_api">
        <img (click)="closeDaumPopup()" src="https://t1.daumcdn.net/postcode/resource/images/close.png" />
      </div>
      <img src="../../../assets/image/baemin/guide_off/06_03.png">
    </div>
  </div>
</ion-content>