<ion-content>
    <div class="container">
      <img src="../../../assets/image/baemin/guide_off/39_back_01.png" (click)="goNext()">
      <img src="../../../assets/image/baemin/guide_off/39_back_02.png">
      <div class="img_cover">
        <img src="../../../assets/image/baemin/guide_off/39_03.jpg">
        <div class="text_cover text_cover4" (click)="goNext()">
          <p>{{ addDetail }} </p>
          <p><span>도로명</span>{{ addDetail }}</p>
      </div>
      </div>
      <img src="../../../assets/image/baemin/guide_off/39_04.jpg">
    </div>
  </ion-content>