<ion-content>
    <div class="container">
      <img src="../../../assets/image/baemin/guide_on/00.jpg">
      <div class="fix_button">
        <img src="../../../assets/image/baemin/layer/09_01_G.png">
        <img src="../../../assets/image/baemin/layer/40_01.png" (click)="goNaver()">
        <img src="../../../assets/image/baemin/layer/09_03_G.png" (click)="goNext(0)">
        <img src="../../../assets/image/baemin/layer/09_04_G.png" (click)="goCategory()">
      </div>
    </div>
  </ion-content>