<ion-content>
    <div class="container">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/15_01.png">
            <div class="text_cover">
                <div class="text_cover text_cover_baemin text_cover_baemin2">
                    <p> {{ addRoad }}</p>
                </div>
            </div>
        </div>
        <img src="../../../assets/image/baemin/guide_on/15_02.png">
        <img src="../../../assets/image/baemin/guide_on/15_03.png" (click)="goNext()">
        <img src="../../../assets/image/baemin/guide_on/15_04.png">
    </div>
</ion-content>