<ion-content>
    <div class="container">
      <div class="img_margin">
        <img src="../../../assets/image/baemin/guide_off/02_01_01.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_off/02_01_02.jpg">
            <ion-input #add (click)="openDaumPopup()" class="search_input search_input4"></ion-input>
        </div>
        <div #daum_popup class="address_api">
          <img (click)="closeDaumPopup()" src="https://t1.daumcdn.net/postcode/resource/images/close.png" />
        </div>
        <img src="../../../assets/image/baemin/guide_off/02_03.png">
      </div>
    </div>
  </ion-content>