<ion-content>
    <div class="container">
      <img src="../../../assets/image/naver/07_01.png">
      <img src="../../../assets/image/naver/07_02.png" (click)="goNext(1)">
      <img src="../../../assets/image/naver/07_03.png" (click)="goAfter()">
      <img src="../../../assets/image/naver/07_04.png">
      <img src="../../../assets/image/naver/07_05.png" (click)="goNext()">
      <img src="../../../assets/image/naver/07_06.png" (click)="goNext(6)">
      <img src="../../../assets/image/naver/07_07.png" (click)="goNext(15)">
      <img src="../../../assets/image/naver/07_08.png">
    </div>
  </ion-content>