<ion-content>
  <div class="container">
    <img src="../../../assets/image/naver/guide_on/27_back.jpg" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/naver/guide_on/6_01.png" alt="">
      <img src="../../../assets/image/naver/guide_on/6_02.png" alt="" (click)="goAfter()">
      <img src="../../../assets/image/naver/guide_on/6_03.png" alt="" (click)="goNext(0)">
      <img src="../../../assets/image/naver/guide_on/6_04.png" alt="" (click)="goCategory()">
    </div>
  </div>
</ion-content>