<ion-content>
  <div class="container">
    <img src="../../../assets/image/naver/guide_on/05_back.jpg" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/naver/guide_on/4_01.png" alt="">
      <img src="../../../assets/image/naver/guide_on/4_02.png" alt="" (click)="goNext(4)">
      <img src="../../../assets/image/naver/guide_on/4_03.png" alt="" (click)="goNext(0)">
      <img src="../../../assets/image/naver/guide_on/4_04.png" alt="" (click)="goCategory()">
    </div>
  </div>
</ion-content>