<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_off/02_01.jpg" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/korail/guide_off/02_02.jpg" alt="">
      <div class="text_cover korail_input">
        <ion-icon name="search-outline"></ion-icon>
        <ion-input placeholder="역 명의 초성 또는 전체를 입력해주세요."></ion-input>
      </div>
    </div>
    <img src="../../../assets/image/korail/guide_off/02_03.jpg" alt="">
    <img src="../../../assets/image/korail/guide_off/02_02.png" alt="" (click)="goNext()">
    <img src="../../../assets/image/korail/guide_off/02_03.png" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/korail/guide_off/02_04.png" alt="">
    </div>
  </div>
</ion-content>