<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_off/07_01.jpg" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/korail/guide_off/07_02.jpg" alt="">
      <ul class="select_time">
        <li>
          <span>06</span>시
        </li>
        <li>
          <span>07</span>시
        </li>
        <li>
          <span>08</span>시
        </li>
        <li>
          <span>09</span>시
        </li>
        <li>
          <span>10</span>시
        </li>
        <li>
          <span>11</span>시
        </li>
        <li (click)="goNext()">
          <span>12</span>시
        </li>
        <li>
          <span>13</span>시
        </li>
        <li>
          <span>14</span>시
        </li>
      </ul>
    </div>
    <img src="../../../assets/image/korail/guide_off/07_03.jpg" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/korail/guide_on/01_bottom.png" alt="">
    </div>
  </div>
</ion-content>