<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_off/34_01.jpg" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/korail/guide_off/34_02.jpg" alt="">
      <div class="text_cover korail_text_cover">
        <div class="check_wrap">
          <ion-item>
            <ion-checkbox #check (ionFocus)="clickCheck($event)"></ion-checkbox>
            <ion-label>어른</ion-label>
          </ion-item>
        </div>
        <p>1호차 7A</p>
        <span>53,900원</span>
      </div>
    </div>
    <img src="../../../assets/image/korail/guide_off/34_03.jpg" alt="">
    <img src="../../../assets/image/korail/guide_off/34_04.jpg" alt=""  (click)="goNext(33)">
    <img src="../../../assets/image/korail/guide_off/34_05.jpg" alt="">
  </div>
</ion-content>