<ion-content>
  <div class="container">
    <img src="../../../assets/image/korail/guide_off/33_01.png" alt="">
    <img src="../../../assets/image/korail/guide_off/33_02.png" alt="" (click)="goNext()">
    <img src="../../../assets/image/korail/guide_off/33_03.png" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/korail/guide_off/33_bottom.png" alt="">
    </div>
    <div class="slide_img">
      <img src="../../../assets/image/scroll.png" alt="" class="scrollImg">
      <img src="../../../assets/image/arrow.png" alt="">
    </div>
  </div>
</ion-content>