<ion-content>
    <div class="container">
      <img src="../../../assets/image/baemin/guide_on/00.jpg">
      <div class="fix_button">
        <img src="../../../assets/image/baemin/layer/06_01.png">
        <img src="../../../assets/image/baemin/layer/06_02.png" (click)="goNext(27)">
        <img src="../../../assets/image/baemin/layer/06_03.png" (click)="goNext(0)">
        <img src="../../../assets/image/baemin/layer/06_04.png" (click)="goCategory()">
      </div>
    </div>
  </ion-content>