<ion-content>
  <div class="container">
    <img src="../../../assets/image/baemin/06_01.jpg" alt="배민">
    <img src="../../../assets/image/baemin/06_02.jpg" alt="배민" (click)="goNext(1)">
    <img src="../../../assets/image/baemin/06_03.jpg" alt="배민" (click)="goAfter()">
    <img src="../../../assets/image/baemin/06_04.jpg" alt="배민">
    <img src="../../../assets/image/baemin/06_05.jpg" alt="배민" (click)="goNext()">
    <img src="../../../assets/image/baemin/06_06.jpg" alt="배민" (click)="goNext(13)">
    <img src="../../../assets/image/baemin/06_07.jpg" alt="배민" (click)="goNext(27)">
    <img src="../../../assets/image/baemin/06_08.png" alt="배민">
  </div>
</ion-content>
