<ion-content>
    <div class="container">
        <img src="../../../assets/image/baemin/guide_on/39_01.jpg" (click)="goNext(40)">
        <img src="../../../assets/image/baemin/guide_on/39_02.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/39_03.jpg">
            <div class="text_cover">
                <p>{{ add }}</p>
                <p><span>도로명</span>{{ roadAdd }}</p>
            </div>
        </div>        
        <img src="../../../assets/image/baemin/guide_on/39_04.jpg">
    </div>
</ion-content>