<ion-content>
    <div class="container">
    <div class="img_margin">
        <img src="../../../assets/image/baemin/guide_on/10_01.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/10_02.jpg">
            <div class="text_cover text_cover3">
                <p>{{ add }}</p>
            </div>
        </div>
        <img src="../../../assets/image/baemin/guide_on/10_03.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/10_04.jpg">
            <div class="text_cover text_cover2" (click)="goNext(11)">
                <p>{{ add }} </p>
                <p><span>도로명</span>{{ roadAdd }}</p>
            </div>
        </div>
        <img src="../../../assets/image/baemin/guide_on/10_05.jpg">
    </div>
    </div>
</ion-content>