<ion-content>
    <div class="container">
      <div class="img_cover">
        <img src="../../../assets/image/baemin/guide_on/14_01.png">
        <div class="text_cover text_cover_baemin">
          <p> {{ add }}</p>
        </div>
      </div>
      <img src="../../../assets/image/baemin/guide_on/14_02.png">
      <img src="../../../assets/image/baemin/guide_on/14_02.jpg" (click)="goNext(15)">
      <img src="../../../assets/image/baemin/guide_on/14_04.png">
    </div>
  </ion-content>