<ion-content>
    <div class="container">
        <img src="../../../assets/image/baemin/guide_on/29_01.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/29_02.jpg">
            <div class="price_cover">
                <p class="price">15,000</p>
                <div class="quantity">
                    <ion-icon name="add-outline" (click)="plus1()"></ion-icon>
                    <span>{{ cnt1 }}</span>
                    <ion-icon name="remove-outline" (click)="minus1()"></ion-icon>
                </div>
            </div>
        </div>
        <img src="../../../assets/image/baemin/guide_on/29_03.jpg">
        <div class="img_cover">
            <img src="../../../assets/image/baemin/guide_on/29_04.jpg">
            <div class="price_cover">
                <div class="price_cover">
                    <p class="price">15,000</p>
                    <div class="quantity">
                        <ion-icon name="add-outline" (click)="plus2()"></ion-icon>
                        <span>{{ cnt2 }}</span>
                        <ion-icon name="remove-outline" (click)="minus2()"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../../assets/image/baemin/guide_on/29_05.jpg">
        
        <div class="fix_button" (click)="goNext(30)">
            <img src="../../../assets/image/baemin/guide_on/29_06.jpg">
            <div class="price_cover price_cover_w">
                <p><span>{{ total }}</span>원 배달주문하기</p>
            </div>
        </div>
    </div>
</ion-content>