<ion-content>
  <div class="container">
    <div class="img_margin">
      <img src="../../../assets/image/baemin/guide_on/03_01.jpg">
      <div class="img_cover">
          <img src="../../../assets/image/baemin/guide_on/03_02.jpg">
          <ion-input #add (click)="openDaumPopup()" class="search_input"></ion-input>
      </div>
      <div #daum_popup class="address_api">
        <img (click)="closeDaumPopup()" src="https://t1.daumcdn.net/postcode/resource/images/close.png">
      </div>
      <img src="../../../assets/image/baemin/guide_on/03_03.jpg">
    </div>
  </div>
</ion-content>