<ion-content>
    <div class="container">
      <div class="img_cover">
        <img src="../../../assets/image/baemin/guide_on/15_01.png">
        <div class="text_cover text_cover_baemin text_cover_baemin2">
          <p>{{add}}</p>
        </div>
      </div>
      <img src="../../../assets/image/baemin/guide_on/15_01.jpg">
      <img src="../../../assets/image/baemin/guide_on/15_02.jpg" (click)="goNext(16)">
      <img src="../../../assets/image/baemin/guide_on/15_03.png">
      <img src="../../../assets/image/baemin/guide_on/15_04.png">
    </div>
  </ion-content>