<ion-content>
    <div class="container">
      <img src="../../../assets/image/carrot/08_01.png" alt="당근">
      <img src="../../../assets/image/carrot/08_02.png" alt="당근" (click)="goNext(1)">
      <img src="../../../assets/image/carrot/08_03.png" alt="당근" (click)="goAfter()">
      <img src="../../../assets/image/carrot/08_04.png" alt="당근">
      <img src="../../../assets/image/carrot/08_05.png" alt="당근" (click)="goNext()">
      <img src="../../../assets/image/carrot/08_06.png" alt="당근" (click)="goNext(12)">
      <img src="../../../assets/image/carrot/08_07.png" alt="당근" (click)="goNext(22)">
      <img src="../../../assets/image/carrot/08_08.png" alt="당근">
    </div>
  </ion-content>