<ion-content>
    <div class="container">
        <img src="../../../assets/image/carrot/guide_on/01_back.png" alt="당근">
        <div class="fix_button">
            <img src="../../../assets/image/carrot/guide_on/5_01.png" alt="당근">
            <img src="../../../assets/image/carrot/guide_on/5_02.png" alt="당근" (click)="goNext(22)">
            <img src="../../../assets/image/carrot/guide_on/5_03.png" alt="당근" (click)="goNext(0)">
            <img src="../../../assets/image/carrot/guide_on/5_04.png" alt="당근" (click)="goCategory()">
        </div>
    </div>
</ion-content>