<ion-content>
  <div class="container">
    <img src="../../../assets/image/naver/guide_on/27_back.jpg" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/naver/guide_off/30_01.jpg" alt="">
      <img src="../../../assets/image/naver/guide_off/30_02.jpg" alt="" (click)="goCarrot()">
      <img src="../../../assets/image/naver/guide_off/30_03.jpg" alt="" (click)="goNext()">
      <img src="../../../assets/image/naver/guide_off/30_04.jpg" alt="" (click)="goCategory()">
    </div>
  </div>
</ion-content>