<ion-content>
    <div class="container">
      <img src="../../../assets/image/naver/guide_off/17_01.jpg" alt="">
      <div class="shopping_option">
        <form action="">
          <div class="select_color">
            <h2>{{ colorName }}</h2>
            <ion-list>
              <ion-radio-group>
                <ion-item>
                  <ion-radio slot="start" value="실버" (ionFocus)="selectColor($event)" (click)="colorSelected()"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </div>
          <div class="select_size">
            <ion-list>
              <ion-radio-group class="naver_group">
                <ion-list-header>
                  <ion-label>사이즈를 선택하세요</ion-label>
                </ion-list-header>
                <div class="ion-list-wrap">
                  <ion-item>
                    <ion-radio slot="start" value="90" (ionFocus)="selectSize($event)"></ion-radio>
                    <ion-label class="size">90</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-radio slot="start" value="95" (ionFocus)="selectSize($event)"></ion-radio>
                    <ion-label class="size">95</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-radio slot="start" value="100" (ionFocus)="selectSize($event)"></ion-radio>
                    <ion-label class="size">100</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-radio slot="start" value="105" (ionFocus)="selectSize($event)"></ion-radio>
                    <ion-label class="size">105</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-radio slot="start"value="110" (ionFocus)="selectSize($event)"></ion-radio>
                    <ion-label class="size">110</ion-label>
                  </ion-item>
                </div>
              </ion-radio-group>
            </ion-list>
          </div>
          <div class="total_option">
            <div class="total_option_top">
              <div class="selected_color">
                <div class="color_circle"></div>
                <div class="color_name"><span> {{ color }} / {{ size }}</span></div>
              </div>
              <div class="selected_quantity">
                <div class="quantity_change">
                  <ion-icon name="add-outline" (click)="plus()"></ion-icon>
                  <span>{{ cnt }}</span>
                  <ion-icon name="remove-outline" (click)="minus()"></ion-icon>
                </div>
                <div class="quantity_cost">
                  <span>{{ total }}</span>원
                </div>
              </div>
            </div>
            <div class="total_option_bottom">
              <p>총 수량 <span>{{ cnt }}</span>개</p>
              <p>총 금액 <span>{{ total }}</span>원</p>
            </div>
          </div>
          <div class="select_parcel">
            <div class="parcel_box">
              <strong>배송방법</strong>
              <p>택배</p>
            </div>
            <div class="parcel_box">
              <strong>배송비</strong>
              <p>무료</p>
            </div>
          </div>
        </form>
      </div>
      <div class="fix_button">
        <img src="../../../assets/image/naver/guide_off/19_02.jpg" alt="" (click)="goNext()">
        <img src="../../../assets/image/naver/guide_off/19_03.jpg" alt="">
      </div>
    </div>
  </ion-content>