<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/10_01.png" alt="">
    <img src="../../../assets/image/mcdonald/10_02.png" alt="" (click)="goNext(1)">
    <img src="../../../assets/image/mcdonald/10_03.png" alt="" (click)="goAfter()">
    <img src="../../../assets/image/mcdonald/10_04.png" alt="">
    <img src="../../../assets/image/mcdonald/10_05.png" alt="" (click)="goNext()">
    <img src="../../../assets/image/mcdonald/10_06.png" alt="" (click)="goNext(8)">
    <img src="../../../assets/image/mcdonald/10_07.png" alt="" (click)="goNext(19)">
    <img src="../../../assets/image/mcdonald/10_08.png" alt="">
  </div>
</ion-content>