<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_off/03_01.jpg" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/03_02.jpg" alt="">
      <div class="text_cover text_cover_burger">
        <ion-item>
          <ion-input placeholder="지번, 도로명, 건물명으로 검색해주세요."></ion-input>
          <ion-button (click)="goNext()">검색</ion-button>
        </ion-item>
      </div>
    </div>
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_off/03_03.jpg" alt="">
      <div class="text_cover text_cover_address">
        <p (click)="goNext()">{{mAdd}}</p>
      </div>
    </div>
    <div class="fix_button">
      <img src="../../../assets/image/mcdonald/guide_off/01_menu_bar.png" alt="">
    </div>
  </div>
</ion-content>