<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_on/25_01.jpg" alt="">
    <div class="img_wrap">
      <img src="../../../assets/image/mcdonald/guide_on/25_02.jpg" alt="">
      <div class="card_num_cover">
          <form action="">
              <ion-item>
                  <ion-input #one type="tel" [maxlength]="4"></ion-input>
                  <ion-input #two type="tel" [maxlength]="4"></ion-input>
                  <ion-input #three type="tel" [maxlength]="4"></ion-input>
                  <ion-input #four type="tel" [maxlength]="4"></ion-input>
              </ion-item>
              <div class="cvc_wrap">
                <span>카드 cvc</span>
                <ion-item>
                  <ion-input #cvc type="password" maxlength="3"></ion-input>
              </ion-item>
              </div>
          </form>
      </div>
  </div>
    
    <img src="../../../assets/image/mcdonald/guide_on/25_03.jpg" alt="" (click)="goNext()">
    <img src="../../../assets/image/mcdonald/guide_on/25_04.jpg" alt="">
  </div>
</ion-content>