<ion-content>
  <div class="container">
    <img src="../../../assets/image/mcdonald/guide_on/06_01_01.png" alt="">
    <div class="img_cover">
      <img src="../../../assets/image/mcdonald/guide_on/06_01_02.png" alt="">
      <div class="text_cover text_cover_burger_address">
        <p>{{mAdd}}</p>
      </div>
    </div>
    <img src="../../../assets/image/mcdonald/guide_on/06_02.png" alt="" (click)="goNext()">
    <img src="../../../assets/image/mcdonald/guide_on/06_03.png" alt="">
    <div class="fix_button">
      <img src="../../../assets/image/mcdonald/guide_on/06_but.png" alt="" (click)="goNext()">
    </div>
  </div>
</ion-content>