<ion-content>
    <div class="container">
      <img src="../../../assets/image/carrot/c_09_03.jpg" alt="당근" (click)="goNext(1)">
      <img src="../../../assets/image/baemin/b_09_06.jpg" alt="당근" (click)="goNext(1)">
      <img src="../../../assets/image/baemin/b_09_11.jpg" alt="당근" (click)="goNext(14)">
      <img src="../../../assets/image/baemin/b_09_16.jpg" alt="당근" (click)="goNext(27)">
      <img src="../../../assets/image/baemin/b_09_21.jpg" alt="당근" (click)="goAfter()">
    </div>
  </ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" activated="true">
    <ion-fab-button></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <img src="../../../assets/icon/btn_list.png" alt="menu">
      </ion-fab-button>
      <ion-fab-button>
        <img src="../../../assets/icon/btn_home.png" alt="menu">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>