<ion-content>
    <div class="container">
        <img src="../../../assets/image/carrot/guide_off/26_back.png" alt="당근">
        <div class="fix_button">
            <img src="../../../assets/image/carrot/guide_off/1_01.png" alt="당근">
            <img src="../../../assets/image/carrot/guide_off/1_02.png" alt="당근" (click)="goKorail()">
            <img src="../../../assets/image/carrot/guide_off/1_03.png" alt="당근" (click)="goNext()">
            <img src="../../../assets/image/carrot/guide_off/1_04.png" alt="당근" (click)="goCategory()">
        </div>
    </div>
</ion-content>