<ion-content>
  <div class="container">
    <img src="../../../assets/image/board/05_01.jpg" alt="배달의민족" (click)="this.loaderService.changeRoute('baemin')">
    <img src="../../assets/image/board/05_02.jpg" alt="네이버쇼핑" (click)="this.loaderService.changeRoute('naver')">
    <img src="../../assets/image/board/05_03.jpg" alt="당근마켓" (click)="this.loaderService.changeRoute('carrot')">
    <img src="../../assets/image/board/05_04.jpg" alt="코레일" (click)="this.loaderService.changeRoute('korail')">
    <img src="../../assets/image/board/05_05.jpg" alt="맥도날드" (click)="this.loaderService.changeRoute('burger')">
  </div>
</ion-content>
